/* RESET DEFAULT STYLES */

/* BODY-STYLE */
 body {
    
        color: #6495ED;
        font-family: minecraft;
        background: linear-gradient(to top, #F7DEC0, #FFFFFF);
        text-align: center;
        line-height: 1.6;
        Transition: all 1s ease;
}

h1 {
    margin-bottom: 20px;
    color: #115D81;
    Transition: all 2s ease;
}
h2 {
    color: #2C95B5;
    Transition: all 2s ease;
}
h3 {
    color: #50B0C8;
    Transition: all 2s ease;
}
